*{
    margin: 0; padding: 0 ; box-sizing: border-box; list-style: none; text-decoration: none;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(237, 242, 247);
}

/* Style header section*/


.headerBox{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 1em;
    background-color:rgb(179, 221, 255);
}

.headerBox img{
    display: block;
    width: 40%;
    
}

.searchContainer{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
    padding: 1px 4px;
    border: 1.5px solid royalblue;
    border-radius: 15px;
}

.headerBox input{
    width: 100%;
    font-size: 0.8em;
    padding: 3px;
    outline: none;
    border: none;
    background-color: rgb(237, 242, 247);;
}

.searchContainer #iconSearch{
   color: royalblue;
   cursor:pointer;
   position:relative;
}

.headerBox button, .bannerContainer button, .divFormMensaje #bEnviar,
.loginContainer button, #addProduct, #aggProduct{
    padding: 8px 10px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 10px;
}

/* Style banner section*/


.bannerContainer{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/bannerMobile.jpg");
    background-position: center center;
    background-size: cover;
    
}
.bannerContainer h2, .bannerContainer p{
    color: azure;
    padding-left: 1em; 
   
}


.bannerContainer button{
width: 35%;
margin: 10px 5px 5px 25px;
}












/*Product List Style */
.productX{


}
.productList{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-bottom: 3em;
}

.description{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}



.productList li{
    width: 35%;
    margin: 1.5em 1.2em;
    text-align: center;
    background-color: aliceblue;
    border: 1px solid royalblue;
    border-radius: 8px;
    padding: 1em 0;  
}

.productList li:last-child, .productList li:nth-child(5){
    display: none;
}
.productList li img{
    width: 100%;
    
}
.productList li h3{
    font-size: 1em;
    
}

/* Style Footer Section*/

.infoAndContact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(179, 221, 255);
    
}
.infoAndContact ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin:1em 0;
    
}

.divFormMensaje{
    width: 100%;
    color: royalblue;
    font-weight: bold;

}

.infoAndContact form{   
  width: 80%;
  display: flex;
  flex-flow: column;
  margin: 1em;
  
  
}
.infoAndContact .divName, .infoAndContact .divMsj{
    
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
    margin:5px 0;
}


.infoAndContact form input,textarea{
    width: 100%;
   border: none;
   outline: none;
   background-color: aliceblue;
   font-size: 1em;
}

.infoAndContact form #msj{
    font-family: sans-serif;
    height: 6em;
}


.infoAndContact  #bEnviar{
    width: 50%;
}
.devInfo{
    display: flex;
    justify-content: space-between;
    padding:  0.5em 1em;
}


/*Style for Login Page Mobile*/

#sectionLogin{
    display: flex;
    flex-flow: column;
    align-items: center;
  
}
.loginContainer{
    height: 100%;
    width: 70%;
    padding: 2.5em;
    display: flex;
    flex-direction:  column;
    justify-content: start;
    align-items: center;
    
}
.loginContainer h2{
    color: royalblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.credentials{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.loginContainer input{
    padding: 5px;
    border: 1px solid royalblue;
    border-radius: 15px;
    outline: none;
    font-size: 1em;
   background-color:  rgb(237, 242, 247);
}


.loginContainer h2, label, input, button{
    margin: 4px 0;
}


.productX .icons{
display: flex;
flex-direction: row;
justify-content: right;
}
.productX #delete, .productX #edit{
    color:royalblue;
    margin: 0 5px;
    
}

.allproductList{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-bottom: 3em;
}

.description{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}



.allproductList li{
    width: 35%;
    margin: 1.5em 1.2em;
    text-align: center;
    background-color: aliceblue;
    border: 1px solid royalblue;
    border-radius: 8px;
    padding: 1em 0;  
}


.allproductList li img{
    width: 100%;
    
}
.allproductList li h3{
    font-size: 1em;
    
}

/* Style for add new Product page*/

.addProductContainer{
    display: flex;
    flex-direction: column;
  
   
    padding: 25px 0;

}

.productSpecs{
    display: flex;
    flex-direction: column;

    padding: 25px;
}

.productSpecs label, input, textarea{
    font-size: 1.2em;
    
}
.productSpecs input{
   
    border-radius: 10px;
    border:none;
    outline: none;
}
.productSpecs textarea{
    min-height: 5em;
    font-family: sans-serif;
}

@media  screen and (min-width:800px) {
    /*Style Header en Desktop*/
    .headerBox{
        padding: 3em ;
        
    }
    
    .headerBox img{
        width: 10%;
    }
    
    .searchContainer{
        width: 40%;
        margin:0 4em;
        
    }
    
    .headerBox input{
        font-size: 1em;
        padding: 2px;
       
    }
    
  
    
    .headerBox button, .bannerContainer button, .divFormMensaje #bEnviar{
        padding: 0 20px;
    }
    
    /* Style banner section desktop*/


    .bannerContainer{
        height: 35vh; 
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("media/bannerDesktop.png");
        padding-left: 5em; 
    }

    .bannerContainer h2, .bannerContainer p{
        color: azure;
        
        font-size: 1.5em;
    }


    .bannerContainer button{
    width: 10%;
    margin: 1em;
    padding: 10px;
    }

/*Product List Style Desktop */

.productX .description{
    padding-left: 2em;
}
.productList{
    flex-flow: row;
    padding: 0 3em;
}

.productList li:last-child, .productList li:nth-child(5){
    display: block;
}


.productList li img{
    width: 100%;
    
}

/* Style Footer Section Desktop*/

.infoAndContact{
    flex-flow: nowrap;
    align-items:flex-start;
    justify-content:space-around;
    padding: 3em 0;
      
}
 
.infoAndContact ul {
    align-items: flex-start;
}

.infoAndContact ul li{
    padding-bottom: 3px;
}

.divFormMensaje{
    width: 50%;
   
}




.infoAndContact  #bEnviar{
    width: 30%;
    margin-top: 1em;
    padding: 5px;
}
.devInfo{
    
    padding:  0.5em 8em;
}




/*Style for Login Page Desktop*/

#sectionLogin{
    min-height: 60vh;
    justify-content: center;
  
}

.loginContainer h2{
   font-size: 2em;
}
.credentials{

    align-items: start;
    width: 40%;
}
.loginContainer input{
   min-width: 100%;
   padding: 8px;
}
.loginContainer label{
    font-size:1.2em;
}

.loginContainer h2, label, input, button{
    margin: 8px 0;
}



/*Style for all products page in Desktop*/
.allDescription{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.allproductList{
    flex-flow: row;
    padding: 0 3em;
}






}